.me {
    font-weight: bold;
}

div.who {
    float: right;
    clear: right;
}

#bodyContent {
  padding-top: 64px;
  
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}