$( extends 'base.html')

$( block scripts)
<script>
var model = new Vue({
    el: "#vuemod",
    data: {
        uuid: "",
        name: "",
        oldname: "",
        send: function(e) {
            obj = {"uuid": model.uuid, "action": "say", "message": model.message};
            model.sock.send(JSON.stringify(obj));
            model.message = "";
        },
        setname: function(e) {
            if (model.name != model.oldname) {
                obj = {"uuid": model.uuid, "name": model.name, "action": "rename"};
                model.sock.send(JSON.stringify(obj));
                model.oldname = model.name
            }
            document.getElementById("message").focus();
        },
        message: "",
        peoplehere: {},
        messages: [],
        sock: new WebSocket("wss://" + window.location.host + "/chatsocket"),
    },
    computed: {
        who_list: function() {
          var who = [];
          for (var key in this.peoplehere) {
            who.push(this.peoplehere[key]);
          }
          who.sort();
          return who;
        }
    }
})

model.sock.onopen = function(e) {
    obj = {"token": localStorage.token, "action": "join"};
    model.sock.send(JSON.stringify(obj));
};
model.sock.onmessage = function(e) {
    var receive = JSON.parse(e.data);

    if (receive.action == "authfail") {
        window.location.href = "/authfail";
    }

    if (receive.action == "kick") {
        window.location.href = "/kicked";
    }

    if (receive.action == "you") {
        model.uuid = receive.assigned_uuid;
        model.name = receive.name;
        return;
    }

    if (receive.action == "who") {
        model.peoplehere = receive.peoplehere;
        return;
    }

    if (receive.action == "join") {
        Vue.set(model.peoplehere, receive.uuid, receive.name);
    }

    receive.person = model.peoplehere[receive.uuid];

    if (receive.action == "rename") {
        Vue.set(model.peoplehere, receive.uuid, receive.name);
    }

    if (receive.action == "leave") {
        Vue.delete(model.peoplehere, receive.uuid);
    }

    if (receive.uuid == model.uuid) {
        receive.me = true;
    }

    model.messages.unshift(receive);
};
</script>
$(endblock)

$(block content)
    <div class="who">
        Who is here:
        <ul>
            <li v-for="person in who_list">
                {{person}}
            </li>
        </ul>
    </div>
    <div>
        Name: <span class="me">{{name}}</span>
    </form>
    <div>
        Message: <input id="message" v-model="message" v-on:keypress.enter="send"/>
    </div>
    <table>
        <tr v-for="message in messages">
            <td style="text-align: right" v-bind:class="{me: message.me}">
                {{message.person}}
            </td>
            <td v-if="message">
                <template v-if="message.action == 'join'">joined.</template>
                <template v-if="message.action == 'rename'">is now {{message.name}}.</template>
                <template v-if="message.action == 'say'">: {{message.message}}</template>
                <template v-if="message.action == 'leave'">left.</template>
            </td>
        </tr>
    </table>
$(endblock)
<!-- vi: set sw=2: -->
