<script src="https://unpkg.com/vue"></script>

<style>
.me {
    font-weight: bold;
}

div.who {
    float: right;
    clear: right;
}
</style>

<div id="vuemod">
    <div class="who">
        Who is here:
        <ul>
            <li v-for="person in who_list">
                {{person}}
            </li>
        </ul>
    </div>
    <div>
        Name: <input v-model="name" v-on:keypress.enter="setname" v-on:blur="setname"/>
    </form>
    <div>
        Message: <input id="message" v-model="message" v-on:keypress.enter="send"/>
    </div>
    <table>
        <tr v-for="message in messages">
            <td style="text-align: right" v-bind:class="{me: message.me}">
                {{message.person}}
            </td>
            <td v-if="message">
                <template v-if="message.action == 'join'">joined.</template>
                <template v-if="message.action == 'rename'">is now {{message.name}}.</template>
                <template v-if="message.action == 'say'">: {{message.message}}</template>
                <template v-if="message.action == 'leave'">left.</template>
            </td>
        </tr>
    </table>
</div>

<script>
/*
Vue.directive("focus", {
    inserted: function(el) {
        el.focus();
    }
})
*/

var nobody = "nobody " + Math.floor(Math.random()*9000+1000);
var model = new Vue({
    el: "#vuemod",
    data: {
        uuid: "",
        name: nobody,
        oldname: nobody,
        send: function(e) {
            obj = {"uuid": model.uuid, "action": "say", "message": model.message};
            model.sock.send(JSON.stringify(obj));
            model.message = "";
        },
        setname: function(e) {
            if (model.name != model.oldname) {
                obj = {"uuid": model.uuid, "name": model.name, "action": "rename"};
                model.sock.send(JSON.stringify(obj));
                model.oldname = model.name
            }
            document.getElementById("message").focus();
        },
        message: "",
        people: {},
        messages: [],
        sock: new WebSocket("ws://" + window.location.host + "/talk"),
    },
    computed: {
        who_list: function() {
          var who = [];
          for (var key in this.people) {
            who.push(this.people[key]);
          }
          who.sort();
          return who;
        }
    }
})

model.sock.onopen = function(e) {
    obj = {"name": model.name, "action": "join"};
    model.sock.send(JSON.stringify(obj));
};
model.sock.onmessage = function(e) {
    var receive = JSON.parse(e.data);

    if (receive.action == "you") {
        model.uuid = receive.assigned_uuid;
        return;
    }

    if (receive.action == "who") {
        model.people = receive.people;
        return;
    }

    if (receive.action == "join") {
        Vue.set(model.people, receive.uuid, receive.name);
    }

    receive.person = model.people[receive.uuid];

    if (receive.action == "rename") {
        Vue.set(model.people, receive.uuid, receive.name);
    }

    if (receive.action == "leave") {
        Vue.delete(model.people, receive.uuid);
    }

    if (receive.uuid == model.uuid) {
        receive.me = true;
    }

    model.messages.unshift(receive);
};
</script>
