$( extends 'base.html')

$(block scripts)
<script src="/md5.js"></script>
<script src="/zxcvbn.js"></script>
<script>
var model = new Vue({
  el: "#vuemod",
  data: {
    sign: "Sign in",
    name: "",
    password: "",
    confirm: "",
    email: "",
  },
  computed: {
    signup: function() {
      return this.sign == "Sign up";
    },
    avatarurl: function() {
      return "https://www.gravatar.com/avatar/" + MD5(this.email) + "?s=40";
    },
    crack_time: function() {
      return zxcvbn(this.password).crack_times_display.offline_slow_hashing_1e4_per_second;
    },
  }
})
</script>
$(endblock)





$( block content)

    $(with messages = get_flashed_messages())
      $(if messages)
        <ul class=flashes>
          $(for message in messages)
          <li>${message}</li>
          $(endfor)
        </ul>
      $(endif)
    $(endwith)
    
  <v-form action="/signed" method="POST">
    <!-- I had trouble getting the radio buttons to work as Veutified objects -->
    <input type="radio" id="signin" value="Sign in" v-model="sign"/>
    <label for="signin">Sign in</label>
    <input type="radio" id="signup" value="Sign up" v-model="sign"/>
    <label for="signup">Sign up</label>
    
    
    <v-layout row>
      <v-flex xs4><v-subheader>Name: </v-subheader></v-flex><v-text-field name="name" v-model="name"/>
    </v-layout>
    <v-layout row>
      <v-flex xs4><v-subheader>Password:  </v-subheader></v-flex><v-text-field name="password" v-model="password" type="password"/><span v-show="signup">{{crack_time}} to crack</span>
    </v-layout>
    <v-layout row v-show="signup">
      <v-flex xs4><v-subheader>Confirm Password:  </v-subheader></v-flex><v-text-field v-model="confirm" type="password"/>
    </v-layout>
    <v-layout row v-show="signup">
      <v-flex xs4><v-subheader>Optional email: </v-subheader></v-flex><v-text-field name="email" v-model="email"/> 
      
      <!-- Had no idea what you wanted when it came to the gravatar stuff -->
      <a href="https://gravatar.com">Gravatar</a>
      <input hidden=true name=avatarurl v-model="avatarurl"/>
      <img v-bind:src="avatarurl"/>-->
    
    </v-layout>
    <v-btn flat primary v-show="! signup" type="submit" name="action" value="Sign in">Sign In</v-btn>
    <v-btn flat primary v-show="signup" type="submit" name="action" value="Sign up" v-bind:disabled="password != confirm">Sign Up</v-btn>
    <span v-show="signup && (password != confirm)">passwords don't match</span>

  </form>
$( endblock )
<!-- vi: set sw=2: -->
