$( extends 'base.html')

$(block scripts)
<script src="/md5.js"></script>
<script src="/zxcvbn.js"></script>
<script>
var model = new Vue({
  el: "#vuemod",
  data: {
    sign: "Sign in",
    name: "",
    password: "",
    confirm: "",
    email: "",
  },
  computed: {
    signup: function() {
      return this.sign == "Sign up";
    },
    avatarurl: function() {
      return "https://www.gravatar.com/avatar/" + MD5(this.email) + "?s=40";
    },
    crack_time: function() {
      return zxcvbn(this.password).crack_times_display.offline_slow_hashing_1e4_per_second;
    },
  }
})
</script>
$(endblock)

$( block content)

    $(with messages = get_flashed_messages())
      $(if messages)
        <ul class=flashes>
          $(for message in messages)
          <li>${message}</li>
          $(endfor)
        </ul>
      $(endif)
    $(endwith)
    
  <form action="/signed" method="POST">
    <input type="radio" id="signin" value="Sign in" v-model="sign"/>
    <label for="signin">Sign in</label>
    <input type="radio" id="signup" value="Sign up" v-model="sign"/>
    <label for="signup">Sign up</label>
    <div>
      Name: <input name="name" v-model="name"/>
    </div>
    <div>
      Password: <input type="password" name="password" v-model="password"/>
      <span v-show="signup">{{crack_time}} to crack</span>
    </div>
    <div v-show="signup">
      Confirm password: <input type="password" v-model="confirm"/>
    </div>
    <div v-show="signup">
      Optional email: <input name="email" v-model="email"/>
      <a href="https://gravatar.com">Gravatar</a>
      <input hidden=true name=avatarurl v-model="avatarurl"/>
      <img v-bind:src="avatarurl"/>
    </div>
    <input v-show="! signup" type="submit" name="action" value="Sign in"/>
    <input v-show="signup" type="submit" name="action" value="Sign up" v-bind:disabled="password != confirm"/>
    <span v-show="signup && (password != confirm)">passwords don't match</span>
  </form>

</div>
$( endblock )
<!-- vi: set sw=2: -->
